/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import '~antd/dist/reset.css';

.page-container{
  width: auto;
  height: 100vh;
  background: #fff;
}

p {
  margin: 0;
}

.divider{
  margin: 20px 0 2px;
}

.dynamic-value{
  color: var(--portkey-ui-text-primary1);
}
